/* وارد کردن فونت وزیر از CDN */
@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css');

body {
    font-family: 'Vazir', sans-serif;
    direction: rtl;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2196F3;
    color: white;
    padding: 20px;
    text-align: center;
}

.booking-form {
    background-color: white;
    max-width: 500px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.booking-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.booking-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.booking-form input[type="text"],
.booking-form input[type="date"],
.booking-form input[type="time"],
.booking-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.booking-form button {
    width: 100%;
    background-color: #2196F3;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
}

.booking-form button:hover {
    background-color: #0b7dda;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #eee;
    margin-top: 40px;
}


